<section id="app_home_header">
  <mat-button-toggle-group name="sorting_and_filtering_options" aria-label="Sorting and filtering options" (change)="toggle($event)">
    <mat-card>
      <mat-button-toggle value="all" [checked]="defaultToggled(all)">All quizzes</mat-button-toggle>
      <mat-button-toggle value="my" [checked]="defaultToggled(my)">My quizzes</mat-button-toggle>
    </mat-card>
  </mat-button-toggle-group>

  <div>
    <button mat-raised-button (click)="openDialog()">Advanced filtering</button>
  </div>
</section>

<main id="app_home_content">
  <div id="table_wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>
          <p>No.</p>
        </th>
        <td mat-cell *matCellDef="let element"><p>{{element.position}}.</p></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <p>Name</p>
        </th>
        <td mat-cell *matCellDef="let element"><p>{{element.name}}</p></td>
      </ng-container>

      <!--Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>
          <p>Category</p>
        </th>
        <td mat-cell *matCellDef="let element"><p>{{element.weight}}</p></td>
      </ng-container>

      <!-- Ratings Column-->
      <ng-container matColumnDef="ratings">
        <th mat-header-cell *matHeaderCellDef>
          <p>Ratings</p>
        </th>
        <td mat-cell *matCellDef="let element"><p>{{element.symbol}}</p></td>
      </ng-container>

      <!--Delete Column-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          <p>Delete</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteQuiz($event, element)">Delete</button>
        </td>
      </ng-container>

      <!-- Solve Column-->
      <ng-container matColumnDef="solve">
        <th mat-header-cell *matHeaderCellDef>
          <p>Solve</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="solveQuiz($event, element)">Solve</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" appHighlight></tr>

    </table>
  </div>
</main>



