<div id="card_wrapper">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (focusin)="whenFormFocusIn($event)">

        <!-- Username -->
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" formControlName="username" matInput autocomplete="off" autofocus>
          <mat-error>{{errorMessages[0]}}</mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput autocomplete="off">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>{{errorMessages[1]}}</mat-error>
        </mat-form-field>

        <!-- user email -->
        <input type="hidden" name="email" value="" formControlName="email"/>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <div>
        <mat-error>{{errorMessages[2]}}</mat-error>
        <button mat-raised-button color="primary" (click)="onSubmit()" >Log in</button>
        <button mat-raised-button color="primary" (click)="clientRoutes.navigateToRegister()">Don't have an account ?</button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>

