<!--<button (click)="clientRoutes.navigateToRegister()">Navigate to Register</button>-->

<!--<button (click)="clientRoutes.navigateToDashboardHome()">Home page</button>-->
<!--<button (click)="clientRoutes.navigateToDashboardMakeQuiz()">Make new quiz</button>-->
<!--<button (click)="clientRoutes.navigateToLogin()">Log out</button>-->
<!--<button (click)="clientRoutes.navigateToDashboardSolveQuiz('123e4567-e89b-12d3-a456-426614174000')">Navigate to SolveQuiz</button>-->


<nav>
  <div>
    <h1 (click)="clientRoutes.navigateToDashboardHome()">Quiz</h1>
  </div>
  <mat-button-toggle-group name="navigation" aria-label="Navigation" (change)="toggle($event)">
    <mat-button-toggle value="home" (click)="clientRoutes.navigateToDashboardHome()">Home page</mat-button-toggle>
    <mat-button-toggle value="quiz" (click)="clientRoutes.navigateToDashboardMakeQuiz()">Make new quiz</mat-button-toggle>
    <mat-button-toggle value="logout" (click)="logOut(); clientRoutes.navigateToLogin()">Log out</mat-button-toggle>
  </mat-button-toggle-group>
</nav>



