#card_wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


mat-card {
  width: 100%;
  max-width: 25em;

  display: flex;
  justify-content: space-between;

  mat-card-header {
    display: flex;
    justify-content: center;
    padding: 1em;

    mat-card-title {
      font-weight: bold;
      font-size: xx-large;
    }
  }

  mat-card-content {

    mat-form-field {
      width: 100%;
      margin: 0.3em 0;

      mat-label {
        font-size: small;
      }
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 70%;
        font-size: large;
        margin: 0.4em !important;
      }
    }
  }
}
